%YAML 1.2
---
openapi: 3.0.3
info:
  title: Weather on Roads for Dynamic Map Platform
  version: 0.1.0-draft
  description: |
    Obtain high-definition, road-level weather forecasts for your route.

    Disclaimer: This OpenAPI spec serves as draft and as basis for future discussions only.
    Ventus Technologies GmbH reserves the right to add, change, or remove, any feature described in this document.
  contact:
    name: Ventus Technologies GmbH
    url: https://ventus-tech.de
    email: contact@ventus-tech.de
  license:
    name: © 2024 Ventus Technologies GmbH – All Rights Reserved
servers:
  - url: https://api.ventus-tech.de/v0-draft/
paths:
  /forecast/route:
    post:
      summary: Return weather forecast for a route.
      description: |
        This entrypoint expects to receive arrays of DMP road segment IDs and associated timestamps.

        For each pair of road segment ID and timestamp, the best representative forecast for the requested variable is returned.

        Timestamps must satisfy these criteria:
        - Timestamps must be UTC
        - Timestamps must follow the [RFC 3339 standard](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) (`YYYY-MM-DDThh:mm:ss.sZ`)
        - Timestamps must be in strictly increasing order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForecastRequest"
      responses:
        "200":
          description: Successful response with weather data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForecastResponse"
components:
  schemas:
    ForecastVariable:
      type: string
      enum:
        - water_film_thickness_MM
        - wind_direction_DEG
        - wind_speed_1m_MPS
    ForecastRequest:
      type: object
      required:
        - variables
        - road_segment_id
        - timestamp
      properties:
        variables:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/ForecastVariable"
          example:
            - water_film_thickness_MM
            - wind_direction_DEG
            - wind_speed_1m_MPS
        road_segment_id:
          type: array
          minItems: 1
          items:
            type: integer
          example:
            - 1060124
            - 1060386
            - 1060405
            - 1060518
        timestamp:
          type: array
          minItems: 1
          items:
            type: string
            format: date-time
          example:
            - "2024-01-01T12:34:56.789Z"
            - "2024-01-01T12:35:00.000Z"
            - "2024-01-01T12:35:02.000Z"
            - "2024-01-01T12:36:12.000Z"
    ForecastResponse:
      type: object
      properties:
        # water_film_thickness_MM:
        #   type: array
        #   minItems: 1
        #   items:
        #     type: number
        #     format: float
        #     minimum: 0
        #   example:
        #     - 1.0
        #     - 2.0
        #     - 3.0
        #     - 2.0
        water_film_thickness_MM:
          type: array
          description: array of the road-segment's water-film-thicknesses array.
          minItems: 1
          items:
            type: array
            description: array of water-film-thicknesses for respective lanes in a road-segment.
            minItems: 1
            items:
              type: number
              format: float
              minimum: 0
          example:
            - [ 1.1, 1.1, 1.0 ]         # For 1st road segment, lane1, lane2, lane3
            - [ 2.0, 1.9, 1.9, 2.1 ]    # For 2nd road segment, lane1, lane2, lane3, lane4
            - [ 3.0, 3.2, 3.3 ]         # For 3rd road segment, lane1, lane2, lane3
            - [ 2.2, 2.1 ]              # For 4th road segment, lane1, lane2
        wind_direction_DEG:
          type: array
          minItems: 1
          items:
            type: number
            format: float
            minimum: 0
            maximum: 360
            exclusiveMaximum: true
          example:
            - 110.0
            - 115.0
            - 120.0
            - 110.0
        wind_speed_1m_MPS:
          type: array
          minItems: 1
          items:
            type: number
            format: float
            minimum: 0
          example:
            - 1.2
            - 3.4
            - 5.6
            - 7.8
